<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACCREDITATION ZONE</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
        integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/acro.css" />
    <link rel="stylesheet" href="/stylesheets/dropdownmenu.css" />
    <link rel="stylesheet" href="/stylesheets/print.css" />
</head>

<body class="w-full m-0 p-0 flex">
    <div class="w-full flex">
        <% if(loggedInUser && loggedInUser.username) { %>
            <div class="navbar">
                <div>
                    <a href="/"><i class="fas fa-home"></i>Home</a>
                </div>
                <div class="dropdown">
                    <a class="dropbtn">All Department
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <div class="dropdown-content">
                        <a href="/acro">New User</a>
                        <a href="/acro/data">All Data</a>
                        <a href="/acro/print/1">Print</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a class="dropbtn">BCB & Office
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <div class="dropdown-content">
                        <a href="/bcb">New User</a>
                        <a href="/bcb/data">All Data</a>
                        <a href="/bcb/print/1">Print</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a class="dropbtn">Marketing & Commercial
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <div class="dropdown-content">
                        <a href="/marketing">New User</a>
                        <a href="/marketing/data">All Data</a>
                        <a href="/marketing/print/1">Print</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a class="dropbtn">Law & Force
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <div class="dropdown-content">
                        <a href="/law">New User</a>
                        <a href="/law/data">All Data</a>
                        <a href="/law/print/1">Print</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a class="dropbtn">PMOA
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <div class="dropdown-content">
                        <a href="/pmoa">New User</a>
                        <a href="/pmoa/data">All Data</a>
                        <a href="/pmoa/print/1">Print</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a class="dropbtn">Media
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <div class="dropdown-content">
                        <a href="/media">New User</a>
                        <a href="/media/data">All Data</a>
                        <a href="/media/print/1">Media Print</a>
                    </div>
                </div>
                <div class="print-iteam dropdown">
                    <button class="dropbtn">Background</button>
                    <div class="dropdown-content">
                        <a href="#">All Page Print:<input type="file" id="image_input"
                                accept="image/png, image/jpg, image/jpeg" /></a>
                        <a href="#">Single Page Print: <input type="file" id="single_input"
                                accept="image/png, image/jpg, image/jpeg" /></a>
                        <a href="#">Signature:<input type="file" id="image_signature"
                                accept="image/png, image/jpg, image/jpeg" /></a>
                    </div>
                </div>
                <div class="dropdown">
                    <a class="dropbtn">Print</a>
                    <div class="dropdown-content">
                        <a href="#">
                            <span id="print-button" class="btn">
                                <i class="fa fa-print"></i>
                                Full-Print
                            </span>
                        </a>
                        <a href="#">
                            <span id="print-single" class="single-print btn">
                                <i class="fa fa-print">
                                </i>single print
                            </span>
                        </a>
                    </div>
                </div>
                <div class="menu-item">
                    <a href="#" onclick="logout()">Logout</a>
                </div>
            </div>
            <% } else { %>
                <div class="menu-item"><a href="/users">Users</a></div>
                <div class="menu-item"><a href="/">Login</a></div>
                <% } %>
    </div>
            <div id="table" class="flex w-[1082px] h-[1570px] justify-center items-center">
                <div class="w-[1082px] h-[1570px] grid grid-cols-2">
                <% users.forEach(function(user) { %>
                    <div id="display_image"
                    class="w-[534px] h-[780px] grid grid-cols-6 justify-center justify-items-center bg-center bg-cover border border-slate-400"
                    >
                    <div class="row-start-1 col-span-6 col-start-1 col-end-7 w-[500px] h-52 grid items-center justify-center"></div>
                    <div class="w-[180px] h-[180px] row-start-2 col-span-2 col-start-3 col-end-5 flex items-center justify-center" >
                        <% if(user.image) { %>
                        <img class="w-[180px] h-[180px]" src="/uploads/lawAvatars/<%= user.image %>" />
                        <% } else { %>
                            <img src="/images/nophoto.png" width="40%" />
                        <% } %>
                        </div>
                        <div class="h-[190px]row-start-2 col-span-2 col-end-7">
                            <p class="!text-[#0A1754] !font-bold !text-[31px] !m-0 !font-sans -rotate-90 !pb-16 !pr-16">
                                <%= user.vanue %>
                            </p>
                        </div>
                        <div id="signat"
                        class="w-25 h-[40px] !z-10 row-start-3 col-span-2 col-start-3 col-end-5 !bg-center !bg-cover flex justify-center items-center">
                    </div>
                    <div
                    class="w-[495px] h-[57px] row-start-4 col-span-6 col-start-1 col-end-7 flex items-center justify-center">
                    <p class="!font-bold !font-sans !text-[#0A1754] !text-[32px] uppercase m-0">
                        <%= user.fullname %>
                    </p>
                </div>
                <div
                class="w-[466px] h-[40px] row-start-5 col-span-6 col-start-1 col-end-7 flex items-center justify-center">
                <p class="!m-0 !font-bold !font-sans !text-[#0A1754] uppercase !text-[25px]">
                    <%= user.designation %>
                </p>
            </div>
            <div
            class="w-[438px] h-[45px] row-start-6 col-span-6 col-start-1 col-end-7 flex items-center justify-center">
            <p class="!font-bold !font-sans !text-[27px] !text-[#0A1754]">
                <%= user.organization %>
            </p>
        </div> 
        <div class="w-[500px] row-start-7 col-span-6 flex items-center justify-center gap-x-2">
            <% if(user.zoneone === "X") { %>
                <p></p>
                <% } else { %>
                <div class="w-[80px] h-[80px] row-start-7 col-start-1 col-end-2">
                    <p
                        class="w-[80px] h-[80px] !font-sans bg-white border-white rounded-full !text-red-600 !m-auto !font-bold !text-4xl !text-center !pt-5">
                        <%= user.zoneone %>
                    </p>
                </div>
                <% } %>
                    <% if(user.zonetwo==="X") { %>
                        <p></p>
                        <% } else { %>
                        <div class="w-[80px] h-[80px] row-start-7 col-start-2 col-end-3">
                            <p
                                class="w-[80px] h-[80px] !font-sans bg-white border-white rounded-full !text-red-600 !m-auto !font-bold !text-4xl !text-center !pt-5">
                                <%= user.zonetwo %>
                            </p>
                        </div>
                        <% } %>
                            <% if(user.zonethree==="X" ) { %>
                                <p></p>
                                <% } else { %>
                                <div class="w-[80px] h-[80px] row-start-7 col-start-3 col-end-4">
                                    <p class="w-[80px] h-[80px] !font-sans bg-white border-white rounded-full !text-red-600 !m-auto !font-bold !text-4xl !text-center !pt-5">
                                        <%= user.zonethree %>
                                    </p>
                                </div>
                                <% } %>
                                <% if(user.zonefour === "X") { %>
                                    <p></p>
                                    <% } else { %>
                                        <div class="w-[80px] h-[80px] row-start-7 col-start-4 col-end-5">
                                            <p
                                                class="w-[80px] h-[80px] !font-sans bg-white border-white rounded-full !text-red-600 !m-auto !font-bold !text-4xl !text-center !pt-5">
                                                <%= user.zonefour %>
                                            </p>
                                        </div>
                                        <% } %>
                                        <% if(user.zonefive === "X") { %>
                                            <p></p>
                                            <% } else { %>
                                        <div
                                        class="w-[80px] h-[80px] row-start-7 col-start-5 col-end-6">
                                                <p class="w-[80px] h-[80px] !font-sans bg-white border-white rounded-full !text-red-600 !m-auto !font-bold !text-4xl !text-center !pt-5">
                                                    <%= user.zonefive %>
                                                </p>
                                            </div>
                                            <% } %>
                                                    <% if(user.zonesix==="X" ) { %>
                                                        <p></p>
                                                        <% } else { %>
                                                            <div
                                                            class="w-[80px] h-[80px] row-start-7 col-start-6 col-end-7">
                                                            <p
                                                                class="w-[80px] h-[80px] !font-sans bg-white border-white rounded-full !text-red-600 !m-auto !font-bold !text-4xl !text-center !pt-5">
                                                                <%= user.zonesix %>
                                                            </p>
                                                        </div>
                                                        <% } %>
        </div>
        <div
        class="h-[105px] row-start-8 col-span-6 col-start-1 col-end-7 flex justify-center items-center">
        <p class="!font-bold !text-4xl !text-[#0A1754] !m-0 !font-sans">
            <%= user.cardfooter %>
        </p>
    </div>
</div>
                    <% })%>
</div>
</div>
        </div>
        <% 
        let totalPage = Math.ceil(count/perPage);
        let startLoop = currentPage;
        let diff = totalPage - currentPage;

        if(diff <= 4){
            startLoop = totalPage - 4;
        }
        let endLoop = parseInt(startLoop) + 4;
        if(startLoop <= 0){
            startLoop  = 1;
        }
        %>
        <%  if (count > 4) { %>
            <div class="!flex !flex-row !text-white" id="pagination">
                    <ul class="!flex !flex-row !text-white !justify-center !items-center gap-x-2">
                        <%  if(currentPage > 1){ %>
                                <li><a href="/law/print/<%= parseInt(currentPage) -1 %>"> Pre</a></li>
                        <%  } %>
                                <% for( let i = startLoop; i<= endLoop; i++) { %>
                                    <li><a href="/law/print/<%= i %>"> <%= i %> </a></li>
                                <% } %>
                                <% if (currentPage < totalPage) { %>
                                <li><a href="/law/print/<%= parseInt(currentPage) + 1 %>"> Next</a></li>
                                <% } %>
                    </ul>
                </div>
            <% } %>
        <script src="/js/print.js"></script>
        <script src="/js/background.js"></script>
        <script src="/js/singleprint.js"></script>
        <script src="/js/signature.js"></script>
        <script src="/js/singlebackground.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    </body>
</html>