<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="author" content="Sumit Saha" />
  <meta name="owner" content="learnwithsumit.com" />
  <title>
    <%= title %>
  </title>
  <link rel="shortcut icon" href="./images/favicon.png" />
  <link rel="stylesheet" href="./stylesheets/toastify.css" />

  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/stylesheets/acro.css" />
  <link rel="stylesheet" href="/stylesheets/dropdownmenu.css" />

  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
    integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  <script src="./js/toastify.js"></script>
  <script>
    const deleteToast = Toastify({
      text: "You are being logout....",
      duration: 1000,
    })
    function logout() {
      fetch("/", {
        method: "DELETE"

      })
      deleteToast.showToast();

      setTimeout(() => {
        window.location.replace("/");
      }, 1000)
    }
  </script>
</head>

<body>
  <div class="menu">
    <% if(loggedInUser && loggedInUser.username) { %>
      <div class="navbar">
        <div>
          <a href="/"><i class="fas fa-home"></i>Home</a>
        </div>
        <div class="dropdown">
          <a class="dropbtn">All Department
            <i class="fa fa-caret-down"></i>
          </a>
          <div class="dropdown-content">
            <a href="/acro">New User</a>
            <a href="/acro/data">All Data</a>
            <a href="/acro/print/1">Print</a>
          </div>
        </div>
        <div class="dropdown">
          <a class="dropbtn">BCB & Office
            <i class="fa fa-caret-down"></i>
          </a>
          <div class="dropdown-content">
            <a href="/bcb">New User</a>
            <a href="/bcb/data">All Data</a>
            <a href="/bcb/print/1">Print</a>
          </div>
        </div>
        <div class="dropdown">
          <a class="dropbtn">Marketing & Commercial
            <i class="fa fa-caret-down"></i>
          </a>
          <div class="dropdown-content">
            <a href="/marketing">New User</a>
            <a href="/marketing/data">All Data</a>
            <a href="/marketing/print/1">Print</a>
          </div>
        </div>
        <div class="dropdown">
          <a class="dropbtn">Law & Force
            <i class="fa fa-caret-down"></i>
          </a>
          <div class="dropdown-content">
            <a href="/law">New User</a>
            <a href="/law/data">All Data</a>
            <a href="/law/print/1">Print</a>
          </div>
        </div>
        <div class="dropdown">
          <a class="dropbtn">PMOA
            <i class="fa fa-caret-down"></i>
          </a>
          <div class="dropdown-content">
            <a href="/pmoa">New User</a>
            <a href="/pmoa/data">All Data</a>
            <a href="/pmoa/print/1">Print</a>
          </div>
        </div>
        <div class="dropdown">
          <a class="dropbtn">Media
            <i class="fa fa-caret-down"></i>
          </a>
          <div class="dropdown-content">
            <a href="/media">New User</a>
            <a href="/media/data">All Data</a>
            <a href="/media/print/1">Media Print</a>
          </div>
        </div>
        <div class="menu-item">
          <a href="#" onclick="logout()">Logout</a>
        </div>
      </div>
      <% } else { %>
        <div class="menu-item"><a href="/users">Users</a></div>
        <div class="menu-item"><a href="/">Login</a></div>
        <% } %>
  </div>
  <div class="main-block">
      <h1>Update</h1>
      <form method="post"
      action="/update-marketing/<%=data._id %>">
        <hr>
        <div class="colums">
            <div class="form-left">
              <label id="icon" for="name"><i class="fas fa-envelope"></i></label>
              <input type="text" name="manualnumber" id="manualnumber" placeholder="MANUAl SL" value="<%=data.manualnumber %>" required/>
            </div>
            <div class="form-right">
              <label id="icon" for="name"><i class="fas fa-envelope"></i></label>
              <input type="text" name="fullname" id="fullname" placeholder="FULL NAME" value="<%= data.fullname %>" required/>
            </div>
            <div class="form-left">
              <label id="icon" for="name"><i class="fas fa-user"></i></label>
              <input type="text" name="designation" id="designation" placeholder="DESIGNATION" value="<%= data.designation %>"/>
            </div>
            <div class="form-right">
              <label id="icon" for="name"><i class="fas fa-user"></i></label>
              <input type="text" name="organization" id="organizationname" placeholder="ORGANIZATION" value="<%=data.organization %>"/>
            </div>
            <div class="form-left">
              <label id="icon" for="name"><i class="fas fa-unlock-alt"></i></label>
              <input type="text" name="nidno" id="nidpassport" placeholder="NID/PASSPORT/BIRTH ID" value="<%= data.nidno %>" required/>
            </div>
            <div class="form-right">
              <label id="icon" for="name"><i class="fas fa-unlock-alt"></i></label>
              <input type="text" name="phone" id="nidpassport" placeholder="PHONE NUMBER" value="<%= data.phone %>" required/>
            </div>
            <div class="form-left">
              <label id="icon" for="name">CARD NAME: <!-- <i class="fas fa-envelope"></i> --></label> 
              <select id="cardname" name="cardname">
            <% cardname.forEach(card => { %>
                <option value="<%= card.value %>" <%= (data.cardname === card.value) ? 'selected' : "" %>> <%= card.label %> </option>
            <% }) %>
              </select>
            </div>
            <div class="form-right">
              <label id="icon" for="name">VENUES: <!-- <i class="fas fa-envelope"></i> --></label> 
              <select id="cars" name="vanue">
              <% vanue.forEach(card => { %>
                <option value="<%= card.value %>" <%= (data.vanue === card.value) ? 'selected' : "" %>> <%= card.label %> </option>
            <% }) %>
              </select>
            </div>
            <div class="form-left">
              <label id="icon" for="name">ZONE ONE: <!-- <i class="fas fa-envelope"></i> --></label> 
              <select id="cars" name="zoneone">
              <% zoneone.forEach(card => { %>
                <option value="<%= card.value %>" <%= (data.zoneone === card.value) ? 'selected' : "" %>> <%= card.label %> </option>
            <% }) %>
              </select>
            </div>
            <div class="form-right">
              <label id="icon" for="name">ZONE TWO: <!-- <i class="fas fa-envelope"></i> --></label> 
              <select id="cars" name="zonetwo>
              <% zonetwo.forEach(card => { %>
                <option value="<%= card.value %>" <%= (data.zonetwo === card.value) ? 'selected' : "" %>> <%= card.label %> </option>
            <% }) %>
              </select>
            </div>
            <div class="form-left">
              <label id="icon" for="name">ZONE THREE: <!-- <i class="fas fa-envelope"></i> --></label> 
              <select id="cars" name="zonethree">
              <% zonethree.forEach(card => { %>
                <option value="<%= card.value %>" <%= (data.zonethree === card.value) ? 'selected' : "" %>> <%= card.label %> </option>
            <% }) %>
              </select>
            </div>
            <div class="form-right">
              <label id="icon" for="name">ZONE FOUR:<!-- <i class="fas fa-envelope"></i> --></label> 
              <select id="cars" name="zonefour">
              <% zonefour.forEach(card => { %>
                <option value="<%= card.value %>" <%= (data.zonefour === card.value) ? 'selected' : "" %>> <%= card.label %> </option>
            <% }) %>
              </select>
            </div>
            <div class="form-left">
              <label id="icon" for="name">ZONE FIVE: <!-- <i class="fas fa-envelope"></i> --></label> 
              <select id="cars" name="zonefive">
              <% zonefive.forEach(card => { %>
                <option value="<%= card.value %>" <%= (data.zonefive === card.value) ? 'selected' : "" %>> <%= card.label %> </option>
            <% }) %>
              </select>
            </div>
            <div class="form-right">
              <label id="icon" for="name">ZONE SIX:<!-- <i class="fas fa-envelope"></i> --></label> 
               <select id="cars" name="zonesix">
              <% zonesix.forEach(card => { %>
                <option value="<%= card.value %>" <%= (data.six === card.value) ? 'selected' : "" %>> <%= card.label %> </option>
            <% }) %>
              </select>
            </div>
              <div class="form-left">
                <label id="icon" for="name">Form No:</label>
                <input type="text" name="formno" id="name" placeholder="FORM NO" value="<%=data.formno %>" required/>
              </div>
              <div class="form-right">
                <label id="icon" for="cardtype"> CARD TYPE:</label>
                <input type="text" name="cardfooter" id="cardname" placeholder="CARD TYPE" value="<%=data.cardfooter %>">
              </div>
        </div>
            <hr>
            <div class="btn-block">
              <button type="submit" style="background:#1c87c9;" value="Submit">Update</button>
            </div>
        </form>
      </div>
  </body>
</html>