<!DOCTYPE html>
<html lang="en">
    <head> 
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ACCREDITATION ZONE</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link rel="stylesheet" href="../stylesheets/loopprint.css" />
        <link rel="stylesheet" href="../stylesheets/print.css" />
        <link rel="stylesheet" href="../stylesheets/dropwonbackground.css"/>
    </head>
    <body>
        <div class="main" id="main">
            <div class="top-title" id="title-print">
                <div><a style="padding-right:5px" href="/"><i class="fas fa-home"></i></a>
                    
                    <a style="padding-left:5px; text-decoration:none " href="/add-user"><i class="fas fa-angle-double-left"></i> All Users</a>
                    <a href="/acro" style="text-decoration: none;" class="border-shadow">
                        <span class="text-gradient">New User <i class="fas fa-user"></i></span>
                    </a>
                </div>
                <div><h1>Printing Document</h1></div>
                <div class="print-iteam dropdown">
                    <button class="dropbtn">Background</button>
                        <div class="dropdown-content">
                            <a href="#">All Page Print:<input type="file" id="image_input" accept="image/png, image/jpg, image/jpeg" /></a>
                            <a href="#" >Single Page Print: <input type="file" id="single_input" accept="image/png, image/jpg, image/jpeg" /></a>
                            <a href="#">Signature:<input type="file" id="image_signature" accept="image/png, image/jpg, image/jpeg" /></a>        
                        </div> 
                </div>
                <div class="dropdown">
                    <button class="dropbtn">Print</button>
                        <div class="dropdown-content">
                            <a href="#"><button id="print-button" class="btn"><i class="fa fa-print"></i>Full-Print</button></a>
                            <a href="#" ><button id="print-single" class="single-print btn"><i class="fa fa-print"></i>single print</button></a>
                        </div>
                </div>
            </div>
            <table id="table">
                <tbody>
                <% users.forEach(function(user) { %>
                    <tr class="velue-tr grid-container" id="display_image">
                            <td class="item1"></td>
                            <td class="item2"></td>
                            <td  class="item3"></td>
                            <td class="item4">
                                <% if(user.image) { %>
                                <img src="../uploads/marketingAvatars/<%= user.image %>"  width="180px" height="180px"/>
                                <% } else { %>
                                    <img src="../images/nophoto.png" width="40%" />
                                <% } %>
                            </td>
                            <td class="item5"><span class="rotate"><%= user.vanue %></span></td>
                            <td class="item17" style="width: 100px;"></td>
                            <td  class="item6"><p><%= user.fullname %></p></td>
                            <td class="item7"><p><%= user.designation %></p></td>
                            <td class="item16"><p><%= user.organization %></p></td> 
                            <td class="item8"><p><%= user.zoneone %></p></td>
                           <td class="item9"><p><%= user.zonetwo %></p></td>
                           <td class="item10"><p><%= user.zonethree %></p></td>
                            <td class="item11"><p><%= user.zonefour %></p></td>
                            <td  class="item12"><p><%= user.zonefive %></p></td>
                            <td class="item13"><p><%= user.zonesix %></p></td>
                            <td class="item14"></td>
                            <td class="item15"><p><%= user.cardfooter %></p></td>
                            <td class="item18"></td>
                            <td class="item19"></td>
                            <td class="item20"></td>
                            <td class="item21"></td>  
                            
                                
                        </tr>
                    <% })%>
                 </tbody>
            </table>
        </div>
        <% 
        let totalPage = Math.ceil(count/perPage);
        let startLoop = currentPage;
        let diff = totalPage - currentPage;

        if(diff <= 4){
            startLoop = totalPage - 4;
        }
        let endLoop = parseInt(startLoop) + 4;
        if(startLoop <= 0){
            startLoop  = 1;
        }
        %>
        <%  if (count > 4) { %>
            <div class="pagination" id="pagination">
                    <ul>
                        <%  if(currentPage > 1){ %>
                                <li><a href="/marketing-print/<%= parseInt(currentPage) -1 %>"> Pre</a></li>
                        <%  } %>
                                <% for( let i = startLoop; i<= endLoop; i++) { %>
                                    <li><a href="/marketing-print/<%= i %>"> <%= i %> </a></li>
                                <% } %>
                                <% if (currentPage < totalPage) { %>
                                <li><a href="/marketing-print/<%= parseInt(currentPage) + 1 %>"> Next</a></li>
                                <% } %>
                    </ul>
                </div>
            <% } %>
            <script src="../js/marketingprint.js"></script>
            <script src="../js/marketingbackground.js"></script>
            <script src="../js/marketingSignature.js"></script>
             <script src="../js/singleprint.js"></script>
        <script src="../js/singlebackground.js"></script>
    </body>
</html>